{% extends 'layouts/base.html' %}
{% load static %}
{% load user_group_tags %}
{% load i18n static admin_datta %}


{% block content %}
  <!-- [ Main Content ] start -->
  <div class="row">
    {% if request.user.is_authenticated %}
    <!--[ daily sales section ] start-->
    <div class="col-md-6 col-xl-4">
      <div class="card daily-sales">
        <div class="card-block">
          <h6 class="mb-4">Current Class Attended</h6>
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                  class="feather icon-user-check text-c-green f-30 m-r-10"></i>
                35</h3>
            </div>

            <div class="col-3 text-right">
              <p class="m-b-0">67%</p>
            </div>
          </div>
          <div class="progress m-t-30" style="height: 7px;">
            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;"
              aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--[ daily sales section ] end-->
    <!--[ Monthly  sales section ] starts-->
    <div class="col-md-6 col-xl-4">
      <div class="card Monthly-sales">
        <div class="card-block">
          <h6 class="mb-4">Classes Missed</h6>
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                  class="feather icon-user-x text-c-red f-30 m-r-10"></i>
                10</h3>
            </div>
            <div class="col-3 text-right">
              <p class="m-b-0">36%</p>
            </div>
          </div>
          <div class="progress m-t-30" style="height: 7px;">
            <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;"
              aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-12 col-xl-4">
      <div class="card yearly-sales">
        <div class="card-block">
          <h6 class="mb-4">Total Classes</h6>
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                  class="feather icon-user text-c-green f-30 m-r-10"></i>
                100</h3>
            </div>
            <div class="col-3 text-right">
              <p class="m-b-0">80%</p>
            </div>
          </div>
          <div class="progress m-t-30" style="height: 7px;">
            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;"
              aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
{% endif %}


  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="i-block card-body" data-clipboard-text="feather icon-award" data-filter="icon-award" data-toggle="tooltip" title data-original-title="icon-award">
            <i class="feather icon-award "> </i>
            <h5>Endeavour Edtech</h5>
            </div>
         
        </div>
        <div class="card-block">
          <p> Encouraging students to participate in hands-on activities, discussions, and projects to promote critical thinking and problem-solving.Fostering student engagement through discussions, group work, and collaborative projects, allowing them to learn from peers and apply their knowledge. Integrating practical, real-world examples and scenarios into the curriculum to show the relevance of the subject matter.
          </p>
        </div>
      </div>
    </div>
  </div>

  
        <!-- [ Main Content ] end -->
      
    </div>
  </div>

  {% endblock content %}